body { 
    background-color: #46567C;
    display: block;
    background-size: cover;
    position: relative;
    height: 800px;
    background-size: cover;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  
